@mixin bgimage($name, $height: false, $position: 0 0, $repeat: no-repeat) {
	//height: 100%;
	$url:"/../assets/images/#{$name}";
	background: {
		image: url($url);
		position: $position;
		repeat: $repeat;
		size: cover;
	}
	@if $height { height: $height }
      @else { height: auto; }
      max-width: 100%;
      max-height: 100%;
}

//Push Auto
@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}

// Font Styles
@mixin font-source-sans($size: false, $color: false, $weight: false,  $lh: false, $align: false) {
    font-family: Roboto, 'Source Sans Pro', Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    @if $align { text-align: $align; }
}

@mixin font-source-serif($size: false, $color: false, $weight: false,  $lh: false, $align: false) {
    font-family: Roboto Slab, 'Source Sans Pro', Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    @if $align { text-align: $align; }
}

//Media Queries
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// Media Queries II
// Screen size variables
$screen-xs-min: 425px;  // Tiny phones <<<<my phone
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

// Mixins
@mixin xs { @media (min-width: #{$screen-xs-min}) {@content;} } // Tiny devices
@mixin sm { @media (min-width: #{$screen-sm-min}) {@content;} } // Small devices
@mixin md { @media (min-width: #{$screen-md-min}) {@content;} } // Medium devices
@mixin lg { @media (min-width: #{$screen-lg-min}) {@content;} } // Large devices
@mixin xl { @media (min-width: #{$screen-xl-min}) {@content;} } // Extra large devices

// Rounded Rectangle
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Rounded Rectangle Outline Thick

@mixin border-radius-outline($width: false, $height: false){
  background-color: $primary-color;
  @include border-radius(5px);
  border-style: solid;
  border-width: medium;
  border-color: white;
  padding:10px 20px;
  @if $width { width: $width; }
  @if $height { height: $height; }
}