@import '../../sass/stylesheets/variables';
@import '../../sass/stylesheets/mixins';
@import '../../sass/materialize';

/* comment */ 
// so is this

.container {
}

.bgimg { /* background clouds */
  @include bgimage(
  	$name: "bg_clouds.png",
  	$position: 0 -300px,
  	$height: 800px
  	);
  //margin-top:-49px; //kinda fucky <<<
  padding-top: 1em;
  padding-bottom: 2.75em;
}

.headerTitle { /* White namesake on header */
	@include font-source-serif(
		$weight: 400,
		$color: white
		);
	margin-top: 0.75em;
}

.headerSubTitle { /* smaller header text "multimedia designer..." */
	@include font-source-serif(
		$weight: 300,
		$color: white,
		$size: 2.5em
		);
	margin-top: 0.5em;
}

.resumeContact { /* Resume and Contact buttons, soon to be animated */
	display: flex;
	justify-content: center;
	margin-top: 3em;
}

.spacer { /* to space buttons evenly from the center of page */
	width: 200px;
}

.featureTab { /* container for Featured Work */
	@include font-source-serif(
		$weight: 400,
		$color: $primary-color-light,
		$size: 3em
		);
	margin-top: 0.5em;
}

.testbox { /* testing only */
  @include border-radius(5px); // apply the mixin
  background-color:olive;
  color:white;
  padding:10px;
}